@-webkit-keyframes fade {
  0% {
    opacity: 0.5; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.5; } }

@-moz-keyframes fade {
  0% {
    opacity: 0.5; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.5; } }

@-o-keyframes fade {
  0% {
    opacity: 0.5; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.5; } }

@keyframes fade {
  0% {
    opacity: 0.5; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.5; } }

@-webkit-keyframes hover {
  0% {
    top: 14px; }

  50% {
    top: 20px; }

  100% {
    top: 14px; } }

@-moz-keyframes hover {
  0% {
    top: 14px; }

  50% {
    top: 20px; }

  100% {
    top: 14px; } }

@-o-keyframes hover {
  0% {
    top: 14px; }

  50% {
    top: 20px; }

  100% {
    top: 14px; } }

@keyframes hover {
  0% {
    top: 14px; }

  50% {
    top: 20px; }

  100% {
    top: 14px; } }

* {
  box-sizing: border-box; }

.meta-speak {
  padding: 0 0;
  font-family: Museo;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold; }
  .meta-speak .meta-content {
    padding: 0;
    overflow: hidden;
    background: #FFDC4D; }
    .meta-speak .meta-content .wrapper {
      margin: 0 auto;
      max-width: 960px; }
    .meta-speak .meta-content h1 {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
      font-size: 21px;
      border-bottom: solid 1px #CE9B1B; }
    .meta-speak .meta-content a {
      text-decoration: none;
      color: #D97A0D; }
      .meta-speak .meta-content a:hover {
        color: #70491B; }
    .meta-speak .meta-content p {
      line-height: 31px;
      color: #A37500;
      margin: 0; }
    .meta-speak .meta-content ul {
      margin: 0;
      padding: 0; }
      .meta-speak .meta-content ul li {
        display: block;
        padding: 0 0 10px; }
  .meta-speak .left-col, .meta-speak .right-col {
    display: inline-block;
    vertical-align: top; }
  .meta-speak .left-col {
    width: 50%;
    margin-right: 10%; }
  .meta-speak .right-col {
    width: 40%; }
  .meta-speak .github {
    font-size: 14px;
    border-top: solid 1px #CE9B1B;
    padding-top: 20px;
    margin-top: 10px;
    position: relative; }
    .meta-speak .github:before {
      position: absolute;
      top: 23px;
      padding: 6px 0;
      border-right: solid 1px #CE9B1B;
      display: inline-block;
      background: url("./sprite.png");
      width: 33px;
      height: 20px;
      background-position: -115px -10px;
      content: ""; }
    .meta-speak .github p, .meta-speak .github a {
      padding-left: 50px;
      line-height: 20px; }

.shard {
  -webkit-animation: hover 1.5s infinite;
  -moz-animation: hover 1.5s infinite;
  -o-animation: hover 1.5s infinite;
  animation: hover 1.5s infinite;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("./sprite.png");
  width: 44px;
  height: 55px;
  background-position: -6px -9px;
  cursor: pointer; }
  .shard:before {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    content: "";
    display: block;
    background: url("./sprite.png");
    width: 55px;
    height: 66px;
    background-position: -56px -3px;
    top: -6px;
    left: -6px;
    position: absolute; }
  .shard:hover:before {
    opacity: 1; }

.shard-shadow {
  -webkit-animation: fade 1.5s infinite;
  -moz-animation: fade 1.5s infinite;
  -o-animation: fade 1.5s infinite;
  animation: fade 1.5s infinite;
  position: absolute;
  top: 80px;
  right: 25px;
  background: url("./sprite.png");
  width: 38px;
  height: 16px;
  background-position: -9px -79px;
  content: "";
  display: block; }

.meta-wrapper.hover .shard, .meta-wrapper.hover .shard-shadow, .meta-wrapper.active .shard, .meta-wrapper.active .shard-shadow {
  -webkit-animation-play-state: paused; }

.shadow-wrapper {
  -webkit-transition: opacity 1s linear 0s;
  -moz-transition: opacity 1s linear 0s;
  -o-transition: opacity 1s linear 0s;
  transition: opacity 1s linear 0s; }

.meta-wrapper.active .shadow-wrapper {
  opacity: 0.5;
  -webkit-transition: opacity 1s linear 0s;
  -moz-transition: opacity 1s linear 0s;
  -o-transition: opacity 1s linear 0s;
  transition: opacity 1s linear 0s; }
